/* body {
    background-color: lightgrey;
} */

.title-bar {
    border: solid 1px black;
    /* height: 200px; */
}

#main-panel {
    margin-bottom: 20px;
    text-align: center;
}

.main-screen {
    background-color: black;
    color: white;
    height: 288px;
}

#player1-side {
    border: solid 1px red;
}

#player2-side {
    border: solid 1px blue;
}

.card-title {
    display:inline;
}

tr td:first-child {
    font-weight: bold;
    width: 100px;
}

#scrollDiv {
    max-height: 300px;
    overflow-y: scroll;
}

#chat {
    margin-top: 20px;
}


.hideThis {
    display: none;
}

#player-name {
    margin: 10px;
}

.form-group {
    margin: 0px;
}

#add-player {
  height: 50px;
  margin-left: 5px;
}

#playernameGuide {
    margin: 0px;
}

#players-online {
    margin: 20px;
}

.card-heading {
    padding: 0 10px;
}

#pencil-icon {
    font-family: FontAwesome;
    color: black;
}