/* body {
    background-color: lightgrey;
} */

.title-bar {
    border: solid 1px black;
    /* height: 200px; */
}

#main-panel {
    margin-bottom: 20px;
    text-align: center;
}

.main-screen {
    background-color: black;
    color: white;
    height: 288px;
}

#player1-side {
    border: solid 1px red;
}

#player2-side {
    border: solid 1px blue;
}

.card-title {
    display: inline;
}

tr td:first-child {
    color: black;
    font-weight: bold;
    width: 100px;
}

td {
    color: black;
}

#scrollDiv {
    max-height: 300px;
    overflow-y: scroll;
}

#chat {
    margin-top: 20px;
}


.hideThis {
    display: none;
}

#player-name {
    margin: 10px;
}

.form-group {
    margin: 0px;
}

#add-player {
  height: 50px;
  margin-left: 5px;
}

#playernameGuide {
    margin: 0px;
}

#players-online {
    margin: 20px;
}

.card-heading {
    padding: 0 10px;
}

#pencil-icon {
    font-family: FontAwesome;
    color: black;
}

#p1-rps-buttons, #p2-rps-buttons {
    display: inline;
    height: 42px;
}

.rps-buttons {
    margin: 5px 0;
    margin-right: 5px;
}

#p1-rps-img {
    height: 175px;
}

#p2-rps-img {
    height: 175px;
}

#show-p1-results, #versus, #show-p2-results {
    height: 200px;
}

#show-rps-results {
    margin-bottom: 10px;
}

.nopadding {
    padding: 0;
    margin: 0;
 }

.rps-buttons:hover {
    background-color: #555555;
    color: white;
}

.claim-player:hover:enabled {
    background-color: #555555;
    color: white;
}


.myGlower.active {
    border-color: blue;
    -webkit-box-shadow: 0 0 5px blue;
       -moz-box-shadow: 0 0 5px blue;
            box-shadow: 0 0 5px blue;
}